/* Bornholm.nu & nykavis v1 - Broken */
/* shift sticky ads */ 
.high-impact-topscroll-rendered .summary.scroll-to-fixed-fixed #left_sticky {
    left: -300px !important;
    margin-top: 0px !important;
    position: absolute !important;
}

.high-impact-topscroll-rendered .summary.scroll-to-fixed-fixed #right_sticky {
    left: unset !important;
    margin-top: 0px !important;
    position: absolute !important;
    right: -300px !important
}

.high-impact-topscroll-rendered .outercontainer {
    position: absolute !important;
}

/* revert sticky ads - not done yet */
.high-impact-topscroll-is-hidden .outercontainer {
    position: relative !important;
}

.high-impact-topscroll-is-hidden .summary.scroll-to-fixed-fixed {
    position: fixed !important;
}



/* v1.2 digitalt.tv til sticky ads */
.high-impact-topscroll-rendered .side-stream {
    top: calc(80vh + 10px) !important;
    position: absolute !important;
}
.high-impact-topscroll-is-hidden .side-stream {
    top: 10px !important;
    position: fixed !important;
}

/* v1.1 digitalt.tv til top menu bar */
.high-impact-topscroll-rendered [data-skin="search-in-main-nav"] {
    line-height: 90px !important;
    position: absolute !important;
    width: 1030px !important;
}
.high-impact-topscroll-is-hidden [data-skin="search-in-main-nav"] {
    line-height: 60px !important;
    position: fixed !important;
}


/*  Gastrofun.dk v1.0 */ 
.high-impact-topscroll-rendered:not(.high-impact-topscroll-is-hidden) .floatingads.left,
.high-impact-topscroll-rendered:not(.high-impact-topscroll-is-hidden) .floatingads.right {
    position: absolute !important;
    top: 80vh !important;
}





/* barcelonafc.dk v2.3 */
.high-impact-topscroll-rendered [data-manual-placement-group="div-gpt-ad-topscroll_desktop"] {
    margin-top: -70px;
}

.high-impact-topscroll-rendered:not(.high-impact-topscroll-is-hidden) header #top-bar {
    position: relative;
    opacity: 1;
}

.high-impact-topscroll-is-hidden header {
    padding-top: 70px;
}


/* Proff.dk v2.1 */
.high-impact-topscroll-rendered header {
    position: absolute;
    top: calc(80vh + 20px)
  }

.high-impact-topscroll-is-hidden header {
    position: fixed;
    top: 0;
}

.high-impact-topscroll-rendered .mui-8w8i96 {
    position: absolute;
    top: calc(80vh + -25px);
    z-index: 100;
    width: 100%;
}

.high-impact-topscroll-rendered main {
    margin-top: -25px;

}

.high-impact-topscroll-rendered .mui-1otb5p4 {
    padding-top: 105px;
}

@media (max-width: 769px) {
    .high-impact-topscroll-rendered header {
        position: absolute;
        top: calc(80vh + -25px)
      }
    
    .high-impact-topscroll-is-hidden header {
        position: fixed;
        top: 0;
    }
}


/* 
    Top menu pink = 45px
    top padding: topscroll har 24px
    manu padding har 16


*/


/* MV setup v2.5 */
/* sticky ads shift down */
.high-impact-topscroll-rendered .sticky-tall-left,
.high-impact-topscroll-rendered .sticky-tall-right {
    position: absolute;
    top: calc(50vh + 80vh); 
    margin-top: -300px;
}
/* sticky ads default behavior */
.high-impact-topscroll-is-hidden .sticky-tall-left,
.high-impact-topscroll-is-hidden .sticky-tall-right {
    position: fixed;
    top: 50%;
}

/* 
Still needs fix for menu bar on desktop + mobile
Also having issues with the full-width aspect of the topscroll desktop. 
It's being cut of based on the max-width from the site-content.
*/