/* Bornholm.nu & nykavis v1 - Broken */
/* shift sticky ads */ 
.high-impact-topscroll-rendered .summary.scroll-to-fixed-fixed #left_sticky {
    left: -300px !important;
    margin-top: 0px !important;
    position: absolute !important;
}

.high-impact-topscroll-rendered .summary.scroll-to-fixed-fixed #right_sticky {
    left: unset !important;
    margin-top: 0px !important;
    position: absolute !important;
    right: -300px !important
}

.high-impact-topscroll-rendered .outercontainer {
    position: absolute !important;
}

/* revert sticky ads - not done yet */
.high-impact-topscroll-is-hidden .outercontainer {
    position: relative !important;
}

.high-impact-topscroll-is-hidden .summary.scroll-to-fixed-fixed {
    position: fixed !important;
}



/* v1.2 digitalt.tv til sticky ads */
.high-impact-topscroll-rendered .side-stream {
    top: calc(80vh + 10px) !important;
    position: absolute !important;
}
.high-impact-topscroll-is-hidden .side-stream {
    top: 10px !important;
    position: fixed !important;
}

/* v1.1 digitalt.tv til top menu bar */
.high-impact-topscroll-rendered [data-skin="search-in-main-nav"] {
    line-height: 90px !important;
    position: absolute !important;
    width: 1030px !important;
}
.high-impact-topscroll-is-hidden [data-skin="search-in-main-nav"] {
    line-height: 60px !important;
    position: fixed !important;
}





/* MV setup v2.3 */
/* sticky ads shift down */
.high-impact-topscroll-rendered .sticky-tall-left,
.high-impact-topscroll-rendered .sticky-tall-right {
    position: absolute;
    top: calc(50vh); /* no need for the first 80vh, since we're adding 80vh margin-top to the body, shifting the whole page down */
    margin-top: -300px;
}
/* sticky ads default behavior */
.high-impact-topscroll-is-hidden .sticky-tall-left,
.high-impact-topscroll-is-hidden .sticky-tall-right {
    position: fixed;
    top: 50%;
}

/* desktop applied only */
@media (min-width: 769px) {
    /* full width topsroll fix desktop only */
    .high-impact-topscroll-rendered .maden-topscroll-desktop {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    /* Move whole site content down, due to topscroll position being absolute */
    .high-impact-topscroll-rendered .site-container {
        margin-top: 80vh;
    }
}

/* Needs nav menu fix, then all done - comment 15:45 26nov2024 */